.input-comp {
  margin-bottom: 20px;
  text-align: center;
  .MuiOutlinedInput-input {
    padding: 10px;
  }
  .MuiOutlinedInput-root {
    height: 48px;
  }
  .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    margin-top: -2px;
  }
}
.header-main {
  box-shadow: 5px 3px #f4f4f4;
  background: #242424;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  .header-left-section {
    .smarkets-icon {
      width: 120px;
    }
  }
  .header-right-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    .setting-icon,
    .help-icon {
      color: #ffffff;
      padding: 15px;
      cursor: pointer;
      font-size: 28px;
    }
    .setting-icon:hover,
    .help-icon:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
    .log-btn {
      cursor: pointer;
      padding: 15px;
      font-weight: 600;
      color: #ffffff;
      font-size: 14px;
    }
    .log-btn:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
    .create-btn {
      background-color: #00b073;
      border-radius: 2px;
      color: #fff;
      height: auto;
      font-size: 12px;
      font-weight: 700;
      padding: 5px 12px;
      border: 1px solid #00b073;
      cursor: pointer;
    }
    .create-btn:hover {
      background-color: rgba(0, 176, 115, 0.8);
    }
  }
}

.footer-main {
  color: #888;
  font-size: 12px;
  background: #242424;
  border: 1px solid #242424;
  padding: 10px 20px;
  box-shadow: 5px 3px #f4f4f4;
  text-align: center;
  .footer-link {
    color: #00b073;
  }
}

.card-main {
  background: #161616;
  border: 1px solid #161616;
  border-radius: 2px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  height: 74px;
  margin-bottom: 15px;
  cursor: pointer;
  .match-name-section {
    line-height: 24px;
    .first-row,
    .second-row {
      font-size: 15px;
      color: #ffffff;
    }
    .third-row {
      display: flex;
      align-items: center;
      gap: 10px;
      .match-duration,
      .match-trade,
      .match-market,
      .watch-icon {
        color: #a6a6a6;
        font-weight: 700;
        font-size: 12px;
      }
      .match-trade {
        .match-trade-value {
          color: #cccc46;
        }
      }
    }
  }

  .match-score-section {
    display: flex;
    align-items: center;
    gap: 20px;
    .match-score-part {
      .match-team {
        color: #fff;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 4px;
      }
      .match-team-score {
        display: flex;
        align-items: center;
        gap: 10px;
        .green-card,
        .blue-card {
          background: #00ca84;
          padding: 5px 14px;
          color: #ffffff;
          font-size: 14px;
          font-weight: 500;
          text-align: center;
          border: 1px solid transparent;
          border-radius: 3px;
        }
        .blue-card {
          background: #006cc0;
        }
        .green-card-value,
        .blue-card-value {
          font-size: 14px;
          font-weight: 500;
          color: #a6a6a6;
          text-align: center;
          margin-top: 3px;
        }
      }
    }
  }
}
